<% layout('layout.ejs') %>

<form method="post">
    <input type="hidden" value="<%= article._id %>" name="id">
    标题：<br />
    <input type="text" name="title" value="<%= article.title  %>" /><br />
    标签：<br />
    <input type="text" name="tag1" value="<%= article.tags[0] %>" />
    <input type="text" name="tag2" value="<%= article.tags[1] %>" />
    <input type="text" name="tag3" value="<%= article.tags[2] %>" />
    <br />
    正文：<br />
    <textarea name="content" rows="20" cols="80"><%= article.content %></textarea><br />
    <input type="submit" value="发表" />
</form>